@import 'partials/colors';
@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries
@import 'partials/typography';
@import 'partials/navigation';
@import 'partials/buttons';
@import 'partials/background';
@import 'partials/patterns';
@import 'partials/icons';
@import 'partials/form';
@import 'partials/basic-style';
@include MQ(M) {
  footer {
    font-size: 1.2rem;
    width: 100%;
    margin: 0;
  }

  .intro {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-between;
    height: 100%;
  }

  header {
    flex: 0 0 100%;
  }

  .preamble,
  .summary {
    width: 60%;
    margin: 0 auto;
  }

  .design-selection h3 {
    font-size: 2rem;
  }

  .design-selection ul {
    display: grid;
    margin: 2rem;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  .design-selection {
    grid-column: 1 / span 2;
  }

  .zen-resources {
    grid-column-start: 2;
  }

  .design-selection li {
    text-align: center;
    display: grid;
    height: 15vh;
    background-color: $color-2;
    animation: gradient-animated-thin 4s alternate linear infinite;
    transition: z-index, background-color, color, transform 1s;
  }

  .design-selection li:hover {
    z-index: 99;
    transform: scale(1.3);
    background-color: $color-5;

    & a {
      color: $color-3;
    }
  }

  .design-selection #text,
  .design-selection a {
    width: 100%;
    height: 100%;
  }

  .preamble::after {
    display: block;
    content: url('./path.svg');
    color: pink;
  }

  path {
    stroke: pink;
    animation: wave 3s infinite;
  }
  @keyframes wave {
    0% {
      stroke: pink;
    }

    25% {
      stroke: red;
    }

    50% {
      stroke: blue;
    }

    75% {
      stroke: green;
    }

    100% {
      stroke: pink;
    }
  }
}
