/*font-family: 'Cinzel', serif;
font-family: 'Montserrat', sans-serif;

Color Palette
{"Floral White":"fffcf2","Pale Silver":"ccc5b9","Black Olive":"403d39","Eerie Black":"252422","Flame":"eb5e28"}

*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ccc5b9;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Cinzel', serif;
}
main, header, footer {
    margin: 0 auto;
    width: 100%;
}
main {

    background-color: #ccc5b9;
}
.active {
    text-decoration: underline;
    background-color: #252422;
    border: 1px solid #ccc5b9;
    font-weight: bold;
}

/*----------------NAV------------------*/
.top-nav {
    position: sticky;
    top: 0;
}
nav {
    background-color: #403d39;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul a {
    display: block;
    white-space: nowrap;
    color: #ccc5b9;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #fffcf2;
    color: #252422;
}
.menu li:first-child {
    display: block;
}

.menu li {
    display: none;
    font-size: .75rem;
}

.burger li {
    display: block;
}
nav {
    position: sticky;
    top: 0;
}
/*--------------HEADER-----------*/
.logo-header {
   text-align: center;
   background-image: url(/VernalCOC/images/phone-background.jpg);
   background-size: 100%;
   background-attachment: fixed;
}
.vernalCOC h1 {
    margin: 0;
    padding: 2rem;
}
/*-----------------HERO EVENTS------------*/

.events, .weather {
    margin: 2rem;
    padding: 2rem;
    background: #fffcf2;
    box-shadow: 0 0 15px gray;
}
.events h3, .weather h3 {
    text-align: center;
}
/*-----------------LOCAL ADS----------------*/
.ad-img {
    width: 175px;
}
.local-ads section{
    padding: 10px;
    margin: 2rem;
    background-color: white;

    box-shadow: 0 0 15px gray;
    text-align: center;
}
.local-ads section h3{
    color: #252422;
    text-shadow: 2px 2px 8px #eb5e28;
    font-size: 1.5rem;
}
.ad-statement {
    color: #eb5e28;
    font-weight: 700;
    text-decoration: underline;
}

/*----------------MEMBER-------------------*/
.member-div {
    margin: 2rem auto;
    padding: 0 2rem;
}
.map-div {

    text-align: center;
}
.contact-logo {
    width: 100px;
}
.join-now {
    text-align: center;
    background-color: #eb5e28;
    border: 1px solid #403d39;
    box-shadow: 0 0 15px gray;
    margin: 0 auto;
    width: 100px;
    padding: 1rem 2rem;
    border-radius: 10px;
}
.join-now a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
/*----------------MAP---------------------*/
.map {
    display: none;
}
.contact {
    text-align: center;
    margin: 2rem auto;
    padding: 2rem;
    width: 75%;
    background-color: #fffcf2;
    box-shadow: 0 0 15px gray;
}
.socialIcon a img {
    width: 48px;
}
/*-----------------FOOTER---------------*/
.footer {
    padding: 1rem;
    color: white;
    text-align: center;
    background-color: #403d39;
}
.byuLink {
    color: white;
}
/*----------------Directory---------------*/
.view-changer {
    display: none;

}
.view-changer img {
    max-width: 50px;
}
.cards img {
    width: 175px;
}
.grid section{
    padding: 10px;
    margin: 2rem;
    background-color: white;
    box-shadow: 0 0 15px gray;
    text-align: center;
}
.cards section h2{
    color: #252422;
    text-shadow: 2px 2px 8px #eb5e28;
    font-size: 1.5rem;
}

.list section{
    padding: 10px;
    margin: 2rem;
    background-color: white;
    box-shadow: 0 0 15px gray;
    text-align: center;
}
/*--------------Vernal Page---------------*/
.demograph, .economy {
    margin: 0 auto;
    width: 90%;
}
.vernal-mountain {
    margin: 5%;
    width: 90%;
    box-shadow: 0 0 15px gray;
}
.vernal-dino, .elk {
    margin: 5%;
    width: 90%;
    box-shadow: 0 0 15px gray;
}
/*-------------FORM PAGE------------*/
.formhead {
    text-align: center;
}
.logo-header-2 {
    text-align: center;
    background-image: url(/VernalCOC/images/phone-background.jpg);
    background-size: 100%;
    background-attachment: fixed;
 }
form {
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
    padding: 1rem;
    background-color: #fffcf2;
    box-shadow: 0 0 15px gray;
    border-radius: 15px;

}
form fieldset {
    border: 1px solid #eb5e28;
    padding: 1rem;
    border-radius: 15px;
    margin: 1rem;
}
form legend {
    color: #333533;
    margin: 0 1rem;
    padding: 0 .5rem;
}
legend h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #eb5e28;

}
form label.top, form label.mid {
    display: block;
    padding-top: 1rem;
}
form label.top input, form label.mid input {
    display: block;
    width: 95%;
    padding: .75rem .5rem;
    border-radius: 10px;
}
.comment {
    width: 95%;
    padding: .75rem .5rem;
    border-radius: 10px;
}
.radio {
    display: block;
    width: 95%;
    padding-top: 1rem;
}
.join-button {
    text-align: center;
    
}
.form-button{
    padding: 1rem;  
    margin: 0 auto;
    background-color: #eb5e28;
    border: 1px solid #403d39;
    box-shadow: 0 0 15px gray;
    border-radius: 10px;      
}
.member-level {
   padding: 2rem;
}
.thanks {
    padding: 2rem;
}
.thanks h2 {
    text-align: center;
}
/*-------------Contact-------------*/
.members li {
    padding: .5rem;
}
.board {
    padding: 2rem;
}
.board div {
    padding: 1rem;
}
